.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.boxes {
  width: 100px;
  height: 50px;
  margin: 10px;
  text-align: center;
  align-items: center;
  color: white;
}

.boxes:hover {
  background-color: rgb(171, 231, 231);
}

.active {
  background-color: rgb(135, 243, 176);
}

.inactive {
  background-color: rgb(53, 107, 109);
}

.colorbox {
  border: solid black;
  display: flex;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.red {
  background-color: rgb(160, 30, 30);
}

.blue {
  background-color: rgb(52, 52, 209);
}

.green {
  background-color: rgb(117, 170, 117);
}